<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contra</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input type="password" label="Nueva contraseña" [(ngModel)]="user.password"
        labelPlacement="floating" placeholder="Ingrese su nueva contraseña" >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-input type="password" label="Confirmar contraseña" [(ngModel)]="user.pass2"
        labelPlacement="floating" placeholder="Confirme su contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>{{mensaje}}</ion-label>
    </ion-item>
    <div *ngIf="burbuja">
      <ion-item>
        <ion-label></ion-label>
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-item>
    </div>
    <ion-button class="btnrecuperar" fill="outline" (click)="validar()">Recuperar</ion-button>
  </ion-card-content>
</ion-content>
