

.btnconectar {
    --background: #242424; 
    --color: #ff8c00; 
    --border-color: #0c0b0b; 
  }
  
  .btnconectar:active {
    --background: #e07b00; 
    --color: white; 
  }
  

  .btnolvidar {
    --background: #242424; 
    --color: #ff8c00; 
    --border-color: #0c0b0b; 
  }
  .btnconectarr:active {
    --background: #e07b00; 
    --color: white; 
  }

  