<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <h6>Bienvenido {{user}}</h6>
        <div class="contenedor">
          <img src="./assets/imgs/tyler.jpg" alt="" class="foto">
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
