<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <h6>Bienvenido {{user}}</h6>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
