<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login xd</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <p>para ir al admin aprete el gato</p>
        <ion-card-subtitle> MiauApp</ion-card-subtitle>
        <div class="contenedor">
          <ion-router-link [routerLink]="['/controller']">
            <img src="./assets/imgs/gatosamurai.jpg" alt="Gato Samurai" class="logo">
          </ion-router-link>
        </div>
        <ion-card-title> </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="login"> 
          <ion-button class="botoniniciar" fill="outline" [routerLink]="['/registro']">Registrarse</ion-button> <br>
          <ion-button class="botoniniciar" fill="outline" [routerLink]="['/login']">Iniciar sesion</ion-button>
        </div>
        
        <ion-button class="botoniniciar" fill="outline" [routerLink]="['/error']">pa probar error</ion-button>
        
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
