<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Formulario de Registro</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        
        <form (ngSubmit)="registrar()" #form="ngForm">

          <ion-list>

            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <br>
              <ion-input
                [(ngModel)]="user.username"
                name="username"
                placeholder="Ingrese su nombre de usuario"
                required>
              </ion-input>
            </ion-item>


            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <br>
              <ion-input
                [(ngModel)]="user.email"
                name="email"
                placeholder="Ingrese su correo electrónico"
                type="email"
                required>
              </ion-input>
            </ion-item>


            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <br>
              <ion-input
                type="password"
                [(ngModel)]="user.password"
                name="password"
                placeholder="Ingrese su contraseña"
                required>
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                [(ngModel)]="user.fecha_nacimiento"
                name="fecha_nacimiento"
                label="Fecha de Nacimiento"
                labelPlacement="floating"
                type="date">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">RUT</ion-label>
              <br>
              <ion-input
                [(ngModel)]="user.rut"
                name="rut"
                placeholder="Ingrese su RUT (Ejemplo: 12345678-9)"
                required>
              </ion-input>
            </ion-item>
          </ion-list>

          <div *ngIf="burbuja">
            <ion-item>
              <ion-label>Registrando</ion-label>
              <ion-spinner name="bubbles"></ion-spinner>
            </ion-item>
          </div>

          <ion-button
          class="btnregistrar"
          fill="outline"
          (ngSubmit)="registrar()">
          Registrar
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
